__pycache__
/Logging/app.log
/Logging/app.log.1
/Logging/app.log.2
/Logging/app.log.3
/Logging/app.log.4
/Logging/app.log.5
/Logging/timed_test.log

Logging/timed_test.log.2025-04-15_14-53-46
Logging/timed_test.log.2025-04-15_14-53-51
Logging/timed_test.log.2025-04-15_14-53-56
Logging/timed_test.log.2025-04-15_14-54-01
Logging/timed_test.log.2025-04-15_14-54-06

notes
notes2
